<div class="contact flex flex-col justify-center items-center">
    <p class=" font-sans text-sm font-medium text-slate-400">Get In Touch</p>
    <p class=" font-extrabold text-4xl text-slate-600">Contact</p>
    <div class="contact-info flex items-center border border-slate-300 rounded-lg p-4">
        <mat-icon class="mr-2">email</mat-icon>
        <span class="mr-4">email&#64;gmail.com</span>
        <mat-icon class="mr-2">linkedin</mat-icon>
        <a href="https://www.linkedin.com/in/ali-haider7" target="_blank" class="text-blue-500 hover:underline">LinkedIn Profile</a>
      </div>    
</div>