// .intro-text{
//     opacity: 0;
//     transition: opacity 0.5s ease, transform 0.5s ease;
//     transform: translateY(-20px);

//     .show{
//         opacity: 1;
//         transform: translateY(0);
//     }
// }
.about {
  height: 100vh; /* Full viewport height */
}
.about_info {
  margin-left: 12px;
}

@media screen and (min-width: 270px) and (max-width: 641px) {
  .about {
    display: flex;
  }

  .main-container {
    display: block;
    .about_info {
      p {
        width: 100%;
      }
    }
  }
}
