<nav
  class="flex justify-center   items-center p-2 border-b border-slate-300 relative "
>
  <mat-icon
    class="menu-icon text-3xl cursor-pointer md:hidden py-4"
    (click)="toggleMenu()"
  >
    menu
  </mat-icon>

  <ul
    [ngClass]="{
      'dropdown-menu': true,
      block: menuOpen,
      hidden: !menuOpen
    }"
    class="nav-items flex-col md:flex-row md:flex space-x-9 text-xl p-1 text-slate-600 opacity-100 hidden md:flex"
  >
    <li class="p-2">
      <a href="#" class="hover:opacity-70" (click)="scrollToSection('about')">
        About
      </a>
    </li>
    <li class="p-2">
      <a
        href="#"
        class="hover:opacity-70"
        (click)="scrollToSection('experience')"
      >
        Experience
      </a>
    </li>
    <li class="p-2">
      <a
        href="#"
        class="hover:opacity-70"
        (click)="scrollToSection('projects')"
      >
        Projects
      </a>
    </li>
  </ul>
</nav>
