<div
  class="project-card bg-white shadow-lg hover:shadow-xl rounded-lg overflow-hidden transition ease-in-out delay-150 cursor-pointer hover:scale-110"
>
  <img [src]="imgSrc" alt="Project Image" class="w-full h-50 object-fit" />
  <div class="p-4">
    <div class="tags mb-0">
      @for(tag of tags;track tag){
      <span
        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded"
        >{{ tag }}</span
      >
      }
    </div>
    <div class="title-container flex items-center justify-between mb-2">
      <h2 class="text-xl font-bold">{{ projectTitle }}</h2>
      @if(liveUrl){
      <button (click)="openLive($event)" class="live-button">Live</button>
      }
    </div>
    <p class="text-gray-600">{{ projectDescription }}</p>
  </div>
</div>
