<div class="experience-container h-full p-2 bg-white">
  <h1
    class="text-slate-500 font-extrabold text-3xl flex justify-center items-center mb-8"
  >
    Experience
  </h1>
  <div class="flex flex-col lg:flex-row">
    <div
      class="flex justify-center lg:justify-start mb-4 lg:mb-0 image-container"
    >
      <img
        src="../../../assets/imgs/undraw_Online_cv_re_gn0a (1).png"
        alt=""
        class="max-w-[560px] max-h-[600px] mb-2 img"
      />
    </div>

    <!-- Timeline Section -->
    <div
      class="relative flex flex-col w-full lg:w-4/5 lg:ml-16 timeline-wrapper"
    >
      <div
        class="absolute w-1 bg-slate-500 h-full left-5 vertical-line"
        style="transform: translateX(-50%)"
      ></div>

      <!-- Timeline Items -->
      <div class="flex flex-col lg:flex-row items-start relative timeline-item">
        <div
          class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center icon"
        >
          <span class="text-white font-bold">1</span>
        </div>
        <div class="mx-8">
          <h2 class="text-lg font-semibold text-slate-700">
            Software Engineer at Vertex Infotech Solutions
          </h2>
          <p class="text-slate-500">May 2023 - Present</p>
          <p class="text-slate-600">
            Developed and deployed an enhanced version of spectrum.com currently
            handling 100% of website traffic. Implemented comprehensive unit
            tests using Jest for all product components.
          </p>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row items-start relative timeline-item">
        <div
          class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center icon"
        >
          <span class="text-white font-bold">2</span>
        </div>
        <div class="mx-8">
          <h2 class="text-lg font-semibold text-slate-700">
            Software Engineer at Fan4All
          </h2>
          <p class="text-slate-500">July 2022 - Feb 2023</p>
          <p class="text-slate-600">
            Developed a comprehensive social media platform for football
            enthusiasts using Angular, achieving over 100k downloads on Google
            Play Store.
          </p>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row items-start relative timeline-item">
        <div
          class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center icon"
        >
          <span class="text-white font-bold circule">3</span>
        </div>
        <div class="mx-8">
          <h2 class="text-lg font-semibold text-slate-700">
            Software Engineer at Clarisync
          </h2>
          <p class="text-slate-500">March 2022 - July 2023</p>
          <p class="text-slate-600">
            Implemented new management tools across three products for
            multinational organizations such as CBRE and Kyndrl. Translated
            complex business logic into elegant designs to enhance user
            interface.
          </p>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row items-start relative timeline-item">
        <div
          class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center icon"
        >
          <span class="text-white font-bold circule">4</span>
        </div>
        <div class="mx-8">
          <h2 class="text-lg font-semibold text-slate-700">
            Software Engineer at OneClout
          </h2>
          <p class="text-slate-500">April 2021 - June 2022</p>
          <p class="text-slate-600">
            Spearheaded the successful launch of a GIS-based real estate product
            for a client.<br />
            Collaborated with an international team from New Zealand on their
            GIS-based agricultural product, contributing by developing a module
            to process satellite data. Utilized satellite imagery data to create
            insightful heatmaps and other charts derived from the processed
            data, leveraging Mapbox and Google Maps API.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
